body {
  font-family: 'Montserrat', sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a,
button,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 57px;
}

.header-wrap .logo svg {
  height: 57px;
  width: 57px;
}

.header-wrap .author h4 {
  color: #2b2a2c;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-left: 10px;
}

.header-wrap .author span {
  font-size: 12px;
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.header-wrap .menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-right: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-wrap .menu a:last-of-type {
  margin-right: 25px;
}

.header-wrap .menu a:hover {
  border-bottom: 3px solid;
}

.header-wrap .menu button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 2px solid;
  border-radius: 20px;
  width: 125px;
  height: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-wrap .menu button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title .desc {
  margin-top: 90px;
}

.header-title .desc h4 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  line-height: 0.33;
}

.header-title .desc h3 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  margin-top: 15px;
}

.header-title .desc p {
  font-size: 18px;
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.header-title .desc .social .fab {
  font-size: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
  font-family: 'fa-brands-400';
  width: 40px;
  height: 40px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-title .desc .social .fab:first-of-type {
  margin-left: 0;
}

.header-title .desc .social .be {
  background: #1869ff;
}

.header-title .desc .social .dr {
  background: #e51a68;
}

.header-title .desc .social .in {
  background: #007bb6;
}

.header-title .desc .social .fb {
  background: #3a5898;
}

.header-title .desc .social .ig {
  background: #13578a;
}

.header-title .desc .social .tw {
  background: #56acef;
}

.header-title .desc .btn {
  margin-top: 40px;
}

.header-title .desc .btn button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.8px;
  width: 170px;
  height: 50px;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-left: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-title .desc .btn button:last-of-type {
  width: 200px;
}

.header-title .desc .btn button:first-of-type {
  margin-left: 0;
}

.header-title .desc .btn button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.header-line {
  border-bottom: 1px solid rgba(43, 42, 44, 0.1);
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.portfolio-nav a {
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio-nav a:hover {
  color: #2b2a2c;
}

.portfolio-nav a:first-of-type {
  margin-left: 0;
}

.portfolio-cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-cards button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  width: 190px;
  height: 40px;
  border: 3px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio-cards button:hover {
  background: #2b2a2c;
  color: #ffffff;
}

.portfolio-card {
  height: 370px;
  max-width: 370px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0px 10px #6a696b;
          box-shadow: 0 0px 10px #6a696b;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio-card:nth-child(7) {
  margin-bottom: 0;
}

.portfolio-card:nth-child(8) {
  margin-bottom: 0;
}

.portfolio-card:nth-child(9) {
  margin-bottom: 0;
}

.portfolio-card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.portfolio-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.portfolio-card .desc {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.portfolio-card .desc p {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  letter-spacing: 0.6px;
}

.portfolio-card .desc .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-card .desc .date h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.portfolio-card .desc .date span {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  margin-right: 15px;
}

.about {
  margin-top: 130px;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me {
  max-width: 500px;
}

.about-me h4 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}

.about-me h3 {
  font-size: 92px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #dedede;
  text-transform: uppercase;
}

.about-me p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-bottom: 50px;
}

.about-btn button {
  width: 170px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid;
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.8px;
  margin-left: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-btn button:last-of-type {
  width: 200px;
}

.about-btn button:first-of-type {
  margin-left: 0;
}

.about-btn button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.test {
  background: url(../images/test/bg.png) no-repeat;
  background-size: cover;
  max-height: 230px;
  margin-top: 140px;
}

.test-content p {
  height: 230px;
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.test-author .face {
  width: 95px;
  height: 95px;
  background: #332f30;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto;
  margin-top: -48px;
}

.test-author .name {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.test-author .prof {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
}

.test-author .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.test-author .social .fas {
  font-family: 'fa-solid-900';
  font-size: 14px;
  color: #2b2a2c;
  margin-left: 5px;
}

.test-author .social .fas:first-of-type {
  margin-left: 0;
}

.read {
  margin-top: 230px;
}

.read-title {
  text-align: center;
}

.read-title h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.read-title p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-bottom: 60px;
}

.read-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read-posts .post {
  max-width: 370px;
}

.read-posts .post .img {
  background: #717072;
  width: 370px;
  height: 255px;
}

.read-posts .post .img .date {
  background: #2b2a2c;
  width: 75px;
  height: 75px;
}

.read-posts .post .img .date span {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
}

.read-posts .post .img .date span:first-of-type {
  padding-top: 15px;
}

.read-posts .post .desc {
  margin-top: 20px;
}

.read-posts .post .desc h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  letter-spacing: 0.9px;
  margin-bottom: 10px;
}

.read-posts .post .desc span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}

.read-posts .post .desc p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  line-height: 24px;
}

.read-posts .post .desc button {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 130px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6a696b;
  letter-spacing: 0.7px;
  border: 2px solid;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.read-posts .post .desc button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.read-item {
  margin-top: 15px;
}

.read-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6a696b;
  letter-spacing: 0.7px;
  text-decoration: underline;
}

.footer {
  margin-top: 125px;
  background: #2b2a2c;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.footer-wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap .social p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
}

.footer-wrap .social .fab {
  font-family: 'fa-brands-400';
  font-size: 20px;
  color: #6a696b;
  margin-left: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .social .fab:hover {
  color: #ffffff;
}

.footer-wrap .menu a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-right: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .menu a:hover {
  color: #ffffff;
}

.footer-wrap .menu button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.7px;
  border: 1px solid #8d8d8e;
  border-radius: 20px;
  width: 105px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .menu button:hover {
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 320px) {
  .header-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-wrap .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header-wrap .menu {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .header-wrap .menu a {
    margin-right: 5px;
  }
  .header-wrap .menu a:last-of-type {
    margin-right: 0;
  }
  .header-wrap .menu button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-title .desc {
    text-align: center;
    margin-top: 0;
  }
  .header-title .desc .btn {
    margin-top: 10px;
  }
  .header-title .desc .btn button {
    margin-left: 0;
    margin-bottom: 10px;
    height: 40px;
  }
  .header-title .header-img {
    display: none;
  }
  .portfolio-cards .portfolio-card {
    width: 100%;
  }
  .portfolio-cards .portfolio-card:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .portfolio-cards .portfolio-card:nth-child(7) {
    margin-bottom: 30px;
  }
  .portfolio-cards .portfolio-card:nth-child(8) {
    margin-bottom: 30px;
  }
  .about-wrap .about-img {
    display: none;
  }
  .about-wrap .about-me {
    text-align: center;
  }
  .about-wrap .about-me p {
    padding: 0 5px;
  }
  .about-wrap .about-me .about-btn button {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .about-wrap .about-me .about-btn button:last-of-type {
    margin-bottom: 0;
  }
  .test {
    max-height: 370px;
  }
  .test-content p {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
  }
  .test-author {
    margin-top: 60px;
  }
  .read-title p {
    font-size: 16px;
  }
  .read-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .read-posts .post {
    max-width: 100%;
  }
  .read-posts .post .desc {
    text-align: center;
    padding: 0 10px;
  }
  .read-posts .post .desc button {
    margin: 10px auto 30px;
  }
  .read-item a {
    margin-right: 20px;
  }
  .footer-wrap {
    height: 230px;
    display: block;
    padding-top: 20px;
  }
  .footer-wrap .social {
    display: block;
    text-align: center;
  }
  .footer-wrap .social p {
    padding-bottom: 10px;
  }
  .footer-wrap .menu {
    text-align: center;
    margin-top: 20px;
  }
  .footer-wrap .menu button {
    margin-top: 20px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .header-wrap .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header-wrap .menu {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .header-wrap .menu a {
    margin-right: 5px;
  }
  .header-wrap .menu a:last-of-type {
    margin-right: 0;
  }
  .header-wrap .menu button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-title .desc {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .header-title .desc .btn {
    margin-top: 50px;
  }
  .header-title .desc .btn button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .header-title .header-img {
    display: none;
  }
  .portfolio-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-cards .portfolio-card:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .portfolio-cards .portfolio-card:nth-child(7) {
    margin-bottom: 30px;
  }
  .portfolio-cards .portfolio-card:nth-child(8) {
    margin-bottom: 30px;
  }
  .about-wrap .about-img {
    display: none;
  }
  .about-wrap .about-me {
    text-align: center;
  }
  .about-wrap .about-me h3 {
    font-size: 80px;
  }
  .about-wrap .about-me p {
    padding: 0 10px;
  }
  .test {
    max-height: 275px;
  }
  .test-content p {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
  }
  .test-author {
    margin-top: 60px;
  }
  .read-title p {
    font-size: 16px;
  }
  .read-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .read-posts .post {
    max-width: 100%;
  }
  .read-posts .post .img {
    margin: 0 auto;
  }
  .read-posts .post .desc {
    text-align: center;
    padding: 0 10px;
  }
  .read-posts .post .desc button {
    margin: 10px auto 30px;
  }
  .read-item a {
    margin-right: 20px;
  }
  .footer-wrap {
    height: 200px;
    display: block;
    padding-top: 20px;
  }
  .footer-wrap .social {
    display: block;
    text-align: center;
  }
  .footer-wrap .social p {
    padding-bottom: 10px;
  }
  .footer-wrap .menu {
    text-align: center;
    margin-top: 20px;
  }
  .footer-wrap .menu button {
    margin-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-wrap .logo {
    margin: 0 auto;
  }
  .header-wrap .menu {
    margin: 0 auto;
  }
  .header-title .desc {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .header-title .desc .btn {
    margin-top: 50px;
  }
  .header-title .desc .btn button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .header-title .header-img {
    display: none;
  }
  .portfolio-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30px;
  }
  .portfolio-cards button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .portfolio-cards .portfolio-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-cards .portfolio-card:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .portfolio-cards .portfolio-card:nth-child(7) {
    margin-bottom: 30px;
  }
  .portfolio-cards .portfolio-card:nth-child(8) {
    margin-bottom: 30px;
  }
  .about-wrap .about-img {
    display: none;
  }
  .about-wrap .about-me {
    text-align: center;
    margin: 0 auto;
  }
  .test {
    max-height: 210px;
  }
  .test-content p {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
  }
  .test-author {
    margin-top: 60px;
  }
  .read-title p {
    font-size: 16px;
  }
  .read-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .read-posts .post {
    max-width: 100%;
  }
  .read-posts .post .img {
    margin: 0 auto;
  }
  .read-posts .post .desc {
    text-align: center;
    padding: 0 10px;
  }
  .read-posts .post .desc button {
    margin: 10px auto 30px;
  }
  .read-item a {
    margin-right: 20px;
  }
  .footer-wrap {
    height: 190px;
    display: block;
    padding-top: 20px;
  }
  .footer-wrap .social {
    display: block;
    text-align: center;
  }
  .footer-wrap .social p {
    padding-bottom: 10px;
  }
  .footer-wrap .menu {
    text-align: center;
    margin-top: 20px;
  }
  .footer-wrap .menu button {
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .header-wrap .logo {
    margin: 0 auto;
  }
  .header-wrap .menu {
    margin: 0 auto;
  }
  .header-title .desc {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .header-title .desc .btn {
    margin-top: 50px;
  }
  .header-title .desc .btn button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .header-title .header-img {
    display: none;
  }
  .portfolio-cards {
    margin: 30px 110px;
  }
  .portfolio-cards button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .portfolio-cards .portfolio-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-cards .portfolio-card:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .portfolio-cards .portfolio-card:nth-child(7) {
    margin-bottom: 30px;
  }
  .portfolio-cards .portfolio-card:nth-child(8) {
    margin-bottom: 30px;
  }
  .portfolio-cards .portfolio-card:nth-child(9) {
    margin: 0 auto;
  }
  .about-wrap .about-img {
    display: none;
  }
  .about-wrap .about-me {
    text-align: center;
    margin: 0 auto;
  }
  .read-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .read-posts .post {
    max-width: 100%;
  }
  .read-posts .post .img {
    margin: 0 auto;
  }
  .read-posts .post .desc {
    text-align: center;
    padding: 0 10px;
  }
  .read-posts .post .desc button {
    margin: 10px auto 30px;
  }
  .read-item a {
    margin-right: 20px;
  }
  .footer-wrap {
    height: 190px;
    display: block;
    padding-top: 20px;
  }
  .footer-wrap .social {
    display: block;
    text-align: center;
  }
  .footer-wrap .social p {
    padding-bottom: 10px;
  }
  .footer-wrap .menu {
    text-align: center;
    margin-top: 20px;
  }
  .footer-wrap .menu button {
    margin-top: 20px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .header-wrap .logo {
    margin: 0 auto;
  }
  .header-wrap .menu {
    margin: 0 auto;
  }
  .header-title .desc {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .header-title .desc .btn {
    margin-top: 50px;
  }
  .header-title .desc .btn button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .footer-wrap {
    height: 190px;
    display: block;
    padding-top: 20px;
  }
  .footer-wrap .social {
    display: block;
    text-align: center;
  }
  .footer-wrap .social p {
    padding-bottom: 10px;
  }
  .footer-wrap .menu {
    text-align: center;
    margin-top: 20px;
  }
  .footer-wrap .menu button {
    margin-top: 20px;
  }
}

.project {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.9s linear;
  transition: -webkit-transform 0.9s linear;
  transition: transform 0.9s linear;
  transition: transform 0.9s linear, -webkit-transform 0.9s linear;
  -webkit-transform: translate3d(1800px, 1800px, 100px);
          transform: translate3d(1800px, 1800px, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.project-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1200px;
  height: 775px;
  position: relative;
}

.project-wrap .close {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project-wrap .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.project-wrap .close span:first-of-type {
  position: absolute;
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-wrap .close span:last-of-type {
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.project-wrap .left {
  overflow: hidden;
  width: 65%;
  position: relative;
}

.project-wrap .left img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.project-wrap .right {
  width: 35%;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 90px;
  background: #ffffff;
  overflow: auto;
}

.project-wrap .right .title {
  margin-bottom: 25px;
}

.project-wrap .right .title h3 {
  text-transform: uppercase;
  color: #2b2a2c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.project-wrap .right .title span {
  text-transform: uppercase;
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.project-wrap .right .client {
  margin-bottom: 30px;
}

.project-wrap .right .client p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2b2a2c;
}

.project-wrap .right .client p span {
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.project-wrap .right .desc p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6a696b;
  line-height: 24px;
}

.resume {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.9s linear;
  transition: -webkit-transform 0.9s linear;
  transition: transform 0.9s linear;
  transition: transform 0.9s linear, -webkit-transform 0.9s linear;
  -webkit-transform: translate3d(1800px, -1800px, 100px);
          transform: translate3d(1800px, -1800px, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.resume-wrap {
  width: 1200px;
  height: 100vh;
  background: #ffffff;
  margin: auto;
  overflow: auto;
  position: relative;
}

.resume-wrap .close {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.resume-wrap .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.resume-wrap .close span:first-of-type {
  position: absolute;
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.resume-wrap .close span:last-of-type {
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.resume-wrap .resume-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  width: 170px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: #2b2a2c;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.resume-wrap .resume-footer:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.resume-wrap .resume-title {
  padding-top: 75px;
}

.resume-wrap .resume-title h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #2b2a2c;
}

.resume-wrap .resume-title .resume-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.resume-wrap .resume-title .resume-btn button {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6a696b;
  letter-spacing: 0.6px;
  border: 1px solid;
  border-radius: 20px;
  width: 145px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.resume-wrap .resume-title .resume-btn button:first-of-type {
  margin-left: 0;
}

.resume-wrap .resume-title .resume-btn button:hover {
  background: #000000;
  color: #ffffff;
}

.resume-wrap .resume-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.resume-wrap .resume-box .left {
  width: 39%;
  text-align: right;
  border-right: 1px solid;
  padding-right: 50px;
}

.resume-wrap .resume-box .left h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2b2a2c;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
}

.resume-wrap .resume-box .left .content {
  margin-bottom: 40px;
}

.resume-wrap .resume-box .left .content:last-of-type {
  margin-bottom: 0;
}

.resume-wrap .resume-box .left .content .active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2b2a2c;
  text-decoration: underline;
  margin-bottom: 15px;
}

.resume-wrap .resume-box .left .content .date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
  text-decoration: underline;
  margin-bottom: 15px;
}

.resume-wrap .resume-box .left .content .company {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2b2a2c;
  display: block;
}

.resume-wrap .resume-box .left .content .prof {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
  display: block;
  margin-bottom: 15px;
}

.resume-wrap .resume-box .left .content .text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.resume-wrap .resume-box .right {
  width: 39%;
  padding-left: 50px;
}

.resume-wrap .resume-box .right .education {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2b2a2c;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
}

.resume-wrap .resume-box .right .content {
  margin-bottom: 40px;
}

.resume-wrap .resume-box .right .content .date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
  text-decoration: underline;
  margin-bottom: 15px;
}

.resume-wrap .resume-box .right .content .prof {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2b2a2c;
}

.resume-wrap .resume-box .right .content .study {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
}

.resume-wrap .resume-box .right .skills h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #2b2a2c;
  letter-spacing: 0.9px;
  margin-bottom: 20px;
}

.resume-wrap .resume-box .right .skills .content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-wrap .resume-box .right .skills .content .prof {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
}

.resume-wrap .resume-box .right .skills .content .preload {
  width: 155px;
  height: 5px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-wrap .resume-box .right .skills .content .preload::before {
  content: '';
  width: 114px;
  height: 5px;
  background: #6a696b;
}

.resume-wrap .resume-box .right .skills .design .preload::before {
  width: 128px;
}

.resume-wrap .resume-box .right .skills .illustrator .preload::before {
  width: 137px;
}

.resume-wrap .resume-box .right .skills .photoshop .preload::before {
  width: 130px;
}

.resume-wrap .resume-box .right .awards {
  margin-top: 49px;
}

.resume-wrap .resume-box .right .awards h4 {
  margin-bottom: 33px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2b2a2c;
  letter-spacing: 0.9px;
}

.resume-wrap .resume-box .right .awards .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
}

.resume-wrap .resume-box .right .awards .content:last-of-type {
  margin-bottom: 0;
}

.resume-wrap .resume-box .right .awards .content span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: #2b2a2c;
  display: block;
  margin-right: 15px;
}

.resume-wrap .resume-box .right .awards .content .desc h5 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2b2a2c;
}

.resume-wrap .resume-box .right .awards .content .desc span {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
  display: block;
  margin-bottom: 15px;
}

.resume-wrap .resume-box .right .awards .content .desc p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6a696b;
  line-height: 18px;
}

.hire {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.9s linear;
  transition: -webkit-transform 0.9s linear;
  transition: transform 0.9s linear;
  transition: transform 0.9s linear, -webkit-transform 0.9s linear;
  -webkit-transform: translate3d(1800px, 1800px, 100px);
          transform: translate3d(1800px, 1800px, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hire.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hire-wrap {
  width: 900px;
  height: 680px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  overflow: auto;
  position: relative;
}

.hire-wrap .close {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hire-wrap .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hire-wrap .close span:first-of-type {
  position: absolute;
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hire-wrap .close span:last-of-type {
  width: 20px;
  height: 5px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hire-wrap .left {
  width: 50%;
  padding-left: 35px;
}

.hire-wrap .left .title {
  margin-top: 35px;
  margin-bottom: 35px;
}

.hire-wrap .left .title h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #2b2a2c;
}

.hire-wrap .left .title span {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2a2c;
}

.hire-wrap .left .connect {
  margin-bottom: 35px;
}

.hire-wrap .left .connect .phone {
  margin-bottom: 5px;
}

.hire-wrap .left .connect .phone .fas {
  font-family: 'fa-solid-900';
  font-size: 17px;
  margin-right: 5px;
}

.hire-wrap .left .connect .phone a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
}

.hire-wrap .left .connect .email .fas {
  font-family: 'fa-solid-900';
  font-size: 17px;
  margin-right: 5px;
}

.hire-wrap .left .connect .email a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2a2c;
}

.hire-wrap .left .form {
  margin-bottom: 30px;
}

.hire-wrap .left .form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #2b2a2c;
}

.hire-wrap .left .form input[type="text"] {
  width: 360px;
  height: 55px;
  border: 1px solid rgba(113, 112, 114, 0.4);
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.hire-wrap .left .form input[type="text"]:last-of-type {
  margin-bottom: 0;
}

.hire-wrap .left .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 35px;
}

.hire-wrap .left .btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
  background: #2b2a2c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.8px;
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hire-wrap .left .btn button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=style.css.map */