body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a,
button,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 57px;
}

.header-wrap .logo svg {
  height: 57px;
  width: 57px;
}

.header-wrap .author h4 {
  color: #2b2a2c;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-left: 10px;
}

.header-wrap .author span {
  font-size: 12px;
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.header-wrap .menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-right: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-wrap .menu a:last-of-type {
  margin-right: 25px;
}

.header-wrap .menu a:hover {
  border-bottom: 3px solid;
}

.header-wrap .menu button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 2px solid;
  border-radius: 20px;
  width: 125px;
  height: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-wrap .menu button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title .desc {
  margin-top: 90px;
}

.header-title .desc h4 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  line-height: 0.33;
}

.header-title .desc h3 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  margin-top: 15px;
}

.header-title .desc p {
  font-size: 18px;
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.header-title .desc .social .fab {
  font-size: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
  font-family: 'fa-brands-400';
  width: 40px;
  height: 40px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-title .desc .social .fab:first-of-type {
  margin-left: 0;
}

.header-title .desc .social .be {
  background: #1869ff;
}

.header-title .desc .social .dr {
  background: #e51a68;
}

.header-title .desc .social .in {
  background: #007bb6;
}

.header-title .desc .social .fb {
  background: #3a5898;
}

.header-title .desc .social .ig {
  background: #13578a;
}

.header-title .desc .social .tw {
  background: #56acef;
}

.header-title .desc .btn {
  margin-top: 40px;
}

.header-title .desc .btn button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.8px;
  width: 170px;
  height: 50px;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-left: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-title .desc .btn button:last-of-type {
  width: 200px;
}

.header-title .desc .btn button:first-of-type {
  margin-left: 0;
}

.header-title .desc .btn button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.header-line {
  border-bottom: 1px solid rgba(43, 42, 44, 0.1);
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.portfolio-nav a {
  color: #6a696b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio-nav a:hover {
  color: #2b2a2c;
}

.portfolio-nav a:first-of-type {
  margin-left: 0;
}

.portfolio-cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-cards button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  width: 190px;
  height: 40px;
  border: 3px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio-cards button:hover {
  background: #2b2a2c;
  color: #ffffff;
}

.portfolio-card {
  height: 370px;
  max-width: 370px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0px 10px #6a696b;
          box-shadow: 0 0px 10px #6a696b;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio-card:nth-child(7) {
  margin-bottom: 0;
}

.portfolio-card:nth-child(8) {
  margin-bottom: 0;
}

.portfolio-card:nth-child(9) {
  margin-bottom: 0;
}

.portfolio-card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.portfolio-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.portfolio-card .desc {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.portfolio-card .desc p {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  letter-spacing: 0.6px;
}

.portfolio-card .desc .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-card .desc .date h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.portfolio-card .desc .date span {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  margin-right: 15px;
}

.about {
  margin-top: 130px;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me {
  max-width: 500px;
}

.about-me h4 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}

.about-me h3 {
  font-size: 92px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #dedede;
  text-transform: uppercase;
}

.about-me p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-bottom: 50px;
}

.about-btn button {
  width: 170px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid;
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.8px;
  margin-left: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-btn button:last-of-type {
  width: 200px;
}

.about-btn button:first-of-type {
  margin-left: 0;
}

.about-btn button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.test {
  background: url(../images/test/bg.png) no-repeat;
  background-size: cover;
  max-height: 230px;
  margin-top: 140px;
}

.test-content p {
  height: 230px;
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.test-author .face {
  width: 95px;
  height: 95px;
  background: #332f30;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto;
  margin-top: -48px;
}

.test-author .name {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.test-author .prof {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
}

.test-author .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.test-author .social .fas {
  font-family: 'fa-solid-900';
  font-size: 14px;
  color: #2b2a2c;
  margin-left: 5px;
}

.test-author .social .fas:first-of-type {
  margin-left: 0;
}

.read {
  margin-top: 230px;
}

.read-title {
  text-align: center;
}

.read-title h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
}

.read-title p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-bottom: 60px;
}

.read-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read-posts .post {
  max-width: 370px;
}

.read-posts .post .img {
  background: #717072;
  width: 370px;
  height: 255px;
}

.read-posts .post .img .date {
  background: #2b2a2c;
  width: 75px;
  height: 75px;
}

.read-posts .post .img .date span {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
}

.read-posts .post .img .date span:first-of-type {
  padding-top: 15px;
}

.read-posts .post .desc {
  margin-top: 20px;
}

.read-posts .post .desc h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2b2a2c;
  letter-spacing: 0.9px;
  margin-bottom: 10px;
}

.read-posts .post .desc span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2b2a2c;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}

.read-posts .post .desc p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  line-height: 24px;
}

.read-posts .post .desc button {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 130px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6a696b;
  letter-spacing: 0.7px;
  border: 2px solid;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.read-posts .post .desc button:hover {
  color: #ffffff;
  background: #2b2a2c;
}

.read-item {
  margin-top: 15px;
}

.read-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6a696b;
  letter-spacing: 0.7px;
  text-decoration: underline;
}

.footer {
  margin-top: 125px;
  background: #2b2a2c;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.footer-wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap .social p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
}

.footer-wrap .social .fab {
  font-family: 'fa-brands-400';
  font-size: 20px;
  color: #6a696b;
  margin-left: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .social .fab:hover {
  color: #ffffff;
}

.footer-wrap .menu a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  margin-right: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .menu a:hover {
  color: #ffffff;
}

.footer-wrap .menu button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6a696b;
  letter-spacing: 0.7px;
  border: 1px solid #8d8d8e;
  border-radius: 20px;
  width: 105px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-wrap .menu button:hover {
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .header-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-wrap .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header-wrap .menu {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .header-wrap .menu a {
    margin-right: 5px;
  }
  .header-wrap .menu a:last-of-type {
    margin-right: 0;
  }
  .header-wrap .menu button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-title .desc {
    text-align: center;
    margin-top: 0;
  }
  .header-title .desc .btn {
    margin-top: 10px;
  }
  .header-title .desc .btn button {
    margin-left: 0;
    margin-bottom: 10px;
    height: 40px;
  }
  .header-title .header-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-wrap .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header-wrap .menu {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .header-wrap .menu a {
    margin-right: 5px;
  }
  .header-wrap .menu a:last-of-type {
    margin-right: 0;
  }
  .header-wrap .menu button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-title .desc {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .header-title .desc .btn {
    margin-top: 50px;
  }
  .header-title .desc .btn button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .header-title .header-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */