@media ( min-width: 0px ) and (max-width: 375px )
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 20px 
      & .menu 
        display: block
        text-align: center
        margin: 0 auto
        & a 
          margin-right: 5px 
          &:last-of-type
            margin-right: 0
        & button 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
          margin: 0 auto
          margin-top: 20px 
    &-title
      & .desc 
        text-align: center
        margin-top: 0
        & .btn 
          margin-top: 10px
          & button 
            margin-left: 0
            margin-bottom: 10px 
            height: 40px 
      & .header-img 
        display: none  
  .portfolio 
    &-cards 
      & .portfolio-card 
        width: 100%
        & img 
          width: 100%
        &:hover
          transform: scale(1)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        & p 
          padding: 0 5px
        & .about-btn
          & button 
            margin-left: 0 
            margin-bottom: 20px 
            &:last-of-type
              margin-bottom: 0
  .test
    max-height: 370px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        margin: auto
        & .img
          width: 98%
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 230px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          padding-left: 30px 
        & .form 
          & label 
            padding-left: 10px 
          & input[type="text"]
            max-width: 100%
        & .btn 
          justify-content: center
          margin-right: 0
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
        & .client 
          margin-left: 10px 
        & .desc 
          padding: 0 10px 
          margin-bottom: 50px 
        & a 
          margin-bottom: 50px 
          justify-content: center
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
@media screen and (min-width: 376px) and (max-width: 412px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 20px 
        padding-left: 5px 
      & .menu 
        display: block
        text-align: center
        margin: 0 auto
        & a 
          margin-right: 5px 
          &:last-of-type
            margin-right: 0
        & button 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
          margin: 0 auto
          margin-top: 20px 
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 0px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center
      & .portfolio-card 
        &:hover
          transform: scale(1)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        & h3 
          font-size: 60px 
        & p 
          padding: 0 10px
        & .about-btn
          & button  
            margin-left: 0
            margin-bottom: 20px 
  .test
    max-height: 275px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
        line-height: 2
    &-author 
      margin-top: 53px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 200px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 150px 
          text-align: center
        & .connect 
          padding-left: 95px 
        & .form 
          display: flex
          justify-content: center
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close  
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 150px
        & .title 
          text-align: center 
          margin-bottom: 80px 
        & .client 
          margin-left: 10px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 10px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 413px) and (max-width: 414px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 260px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 40px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 415px) and (max-width: 667px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 200px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 668px) and (max-width: 684px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 200px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 685px) and (max-width: 734px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 200px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 735px) and (max-width: 736px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 200px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 737px) and (max-width: 768px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 50px 
      & .menu 
        margin: 0 auto    
        text-align: center   
        & a 
          margin-right: 15px 
        & button 
          margin: auto
          margin-top: 20px 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    & .portfolio-cards 
      justify-content: center 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        min-width: 380px 
        & img 
          width: 100%
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 200px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              & span 
                padding-left: 30px 
                margin-right: 0
@media screen and (min-width: 769px) and (max-width: 1024px)
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin-left: 50px 
      & .menu 
        margin-right: 50px   
    &-title
      margin-top: 100px 
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    & .portfolio-cards 
      justify-content: space-around 
      & .btn
        display: flex
        flex-wrap: wrap
        width: 100%
      & .portfolio-card  
        min-width: 380px 
        & img 
          width: 100%
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
        & h3 
          font-size: 70px 
  .test
    max-height: 150px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 50px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 20px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
  .footer 
    &-wrap
      height: 190px
      display: block
      padding-top: 20px 
      & .social 
        display: block
        text-align: center
        & p 
          padding-bottom: 10px
      & .menu 
        text-align: center
        margin-top: 20px 
        & button 
          margin-top: 20px  
  .hire 
    &-wrap  
      height: 100vh
      overflow: auto
      & .left
        width: 100%
        padding-left: 0
        & .title 
          margin-top: 50px 
          text-align: center
        & .connect 
          text-align: center
          margin-top: 20px 
          & .phone 
            margin-left: -40px
        & .form 
          display: flex
          justify-content: center
          margin-top: 50px 
        & .btn 
          justify-content: center
          margin-right: 0
          margin-top: 20px 
          margin-bottom: 50px 
      & .right 
        display: none 
  .project 
    &-wrap 
      height: 100vh
      & .close 
        right: 25px 
      & .left 
        display: none 
      & .right 
        width: 100%
        padding: 0
        padding-top: 50px
        & .title 
          text-align: center 
          margin-bottom: 50px 
        & .client 
          margin-left: 30px 
          margin-bottom: 50px 
        & .desc 
          padding: 0 30px 
          margin-bottom: 50px 
        & a 
          justify-content: center
          margin-bottom: 50px 
  .resume 
    &-wrap
      & .resume-box 
        display: block
        & .left 
          margin-bottom: 50px 
          min-width: 100%
          text-align: center
          border: none
          padding: 0 5px
          & .content
            & .text
              padding: 0 20px 
        & .right 
          min-width: 100%
          padding: 0 5px 
          text-align: center
          & .skills 
            & .content 
              margin: auto
          & .awards 
            & .content 
              justify-content: center
              & span 
                padding-left: 30px 
                margin-right: 0