@media ( min-width: 0px ) and (max-width: 320px )
  .header
    &-wrap 
      flex-wrap: wrap
      & .logo 
        margin: 0 auto
        margin-bottom: 20px 
      & .menu 
        display: block
        text-align: center
        margin: 0 auto
        & a 
          margin-right: 5px 
          &:last-of-type
            margin-right: 0
        & button 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
          margin: 0 auto
          margin-top: 20px 
    &-title
      & .desc 
        text-align: center
        margin-top: 0
        & .btn 
          margin-top: 10px
          & button 
            margin-left: 0
            margin-bottom: 10px 
            height: 40px 
      & .header-img 
        display: none  
  .portfolio 
    &-cards 
      & .portfolio-card 
        width: 100%
        &:hover
          transform: scale(1)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        & p 
          padding: 0 5px
        & .about-btn
          & button 
            margin-left: 0 
            margin-bottom: 20px 
            &:last-of-type
              margin-bottom: 0
  .test
    max-height: 370px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
@media ( min-width: 321px ) and ( max-width: 480px )
  .header
    &-wrap 
      & .logo 
        margin: 0 auto
        margin-bottom: 20px 
      & .menu 
        display: block
        text-align: center
        margin: 0 auto
        & a 
          margin-right: 5px 
          &:last-of-type
            margin-right: 0
        & button 
          flex-wrap: wrap
          display: flex
          justify-content: center
          align-items: center
          margin: 0 auto
          margin-top: 20px 
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center
      & .portfolio-card 
        &:hover
          transform: scale(1)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        & h3 
          font-size: 80px 
        & p 
          padding: 0 10px
  .test
    max-height: 275px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
@media ( min-width: 481px ) and ( max-width: 768px )
  .header
    &-wrap 
      & .logo 
         margin: 0 auto
      & .menu 
        margin: 0 auto        
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      justify-content: center 
      margin-left: 30px 
      & button 
        flex-wrap: wrap
        flex-basis: 50%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
  .test
    max-height: 210px
    &-content
      & p 
        width: 100%
        height: 100%
        padding: 10px 10px
    &-author 
      margin-top: 60px  
  .read
    &-title
      & p 
        font-size: 16px 
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
@media ( min-width: 769px ) and ( max-width: 992px )
  .header
    &-wrap 
      & .logo 
         margin: 0 auto
      & .menu 
        margin: 0 auto        
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
      & .header-img 
        display: none
  .portfolio 
    &-cards 
      margin: 30px 110px 
      & button 
        flex-wrap: wrap
        flex-basis: 100%
      & .portfolio-card  
        flex-wrap: wrap
        &:hover
          transform: scale(0.9)
        &:nth-child(7)
          margin-bottom: 30px
        &:nth-child(8)
          margin-bottom: 30px
        &:nth-child(9)
          margin: 0 auto
  .about 
    &-wrap 
      & .about-img 
        display: none 
      & .about-me 
        text-align: center
        margin: 0 auto
  .read
    &-title
    &-posts 
      flex-wrap: wrap
      & .post 
        max-width: 100%
        & .img 
          margin: 0 auto
        & .desc 
          text-align: center
          padding: 0 10px 
          & button 
            margin: 10px auto 30px
    &-item 
      & a 
        margin-right: 20px  
@media ( min-width: 993px ) and ( max-width: 1200px )
  .header
    &-wrap 
      & .logo 
         margin: 0 auto
      & .menu 
        margin: 0 auto        
    &-title
      & .desc 
        text-align: center
        margin: 0 auto
        margin-top: 50px
        & .btn 
          margin-top: 50px
          & button 
            margin-left: 20px
            margin-bottom: 10px 
        
          
        


         
  