.footer
  background: #2b2a2c
  &__container 
    background: #2b2a2c
  &_btn 
    background: #2b2a2c
    border-color: #8d8d8e
    padding: 5px 20px 
    font-size: 14px 
    color: #8d8d8e
    &:focus
      border-color: #8d8d8e
    &::before
      background: #000000
  &__svg 
    fill: #8d8d8e
  &__wrap
    padding: 15px 0
    display: grid 
    grid-template-columns: repeat(2, max-content)
    align-items: center
    justify-content: space-between
  &__copy
    font-size: 14px 
    color: #8d8d8e
    position: relative
    position: relative
    &::before
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: -15px
      width: 1px 
      height: 100%
      background: #6a696b
  &__social-link
    display: inline-block
    &:hover .footer__svg 
      fill: #ffffff

.block
  &__left
    display: grid 
    grid-template-columns: repeat(2, max-content)
    align-items: center
    grid-column-gap: 30px 
  &__right
    display: grid 
    grid-template-columns: repeat(2, max-content)
    align-items: center
    grid-column-gap: 30px 

.footer-menu
  &__link
    display: inline-block
    text-transform: uppercase
    color: #8d8d8e
    font-size: 14px 
    margin-left: 20px 
    &:hover
      color: #ffffff
    &:first-of-type
      margin-left: 0