.portfolio
  padding-top: 45px
  padding-bottom: 120px
  &__wrap
    margin-top: 45px 
    display: grid 
    grid-template-columns: repeat(auto-fit, minmax(290px, max-content))
    grid-gap: 30px 
    justify-content: space-between
  &__btn 
    margin-top: 45px 
    display: grid 
    grid-template-columns: repeat(auto-fit, minmax(290px, max-content))
    justify-content: center
    grid-gap: 20px 

.title
  text-align: center
  text-transform: uppercase
  +mont_bold 
  font-size: 25px
  line-height: 1.13
  color: #2b2a2c

.portfolio-item
  list-style: none 
  position: relative
  transition: .3s linear 
  display: none 
  &:hover
    transform: scale(0.9)
  &__link 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__img
    width: 100%
    height: 300px
    object-fit: cover 
    border-top-left-radius: 10px 
    border-top-right-radius: 10px 
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25)
  &__content
    background: #ffffff
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25)
    border-bottom-left-radius: 10px 
    border-bottom-right-radius: 10px 
    padding: 15px 
  &__cat
    text-transform: uppercase
    letter-spacing: .6px 
    color: #2b2a2c
  &__info
    margin-top: 10px 
    display: grid 
    grid-template-columns: repeat(2, max-content)
    align-items: center
    justify-content: space-between
  &__name
    text-transform: uppercase
    +mont_bold 
    font-size: 16px 
    color: #2b2a2c
  &__date
    text-transform: uppercase
    +mont_bold 
    font-size: 16px 
    color: #2b2a2c

.btn
  &__loadMore 
    padding: 10px 30px 
    border: 2px solid #2b2a2c
    color: #2b2a2c
    +mont_bold 
    &:focus
      border: 2px solid #2b2a2c
  &__showLess
    padding: 10px 30px 
